/**************************/
/* BELOW 800px (Phones) */
/**************************/

@media (max-width: 50em) {
  main {
    max-width: 80rem;
    height: 60rem;
  }
  .name {
    font-size: 2rem;
  }
  .current-label {
    font-size: 1rem;
  }
  .current-score {
    font-size: 2.8rem;
  }

  .score {
    font-size: 6rem;
  }

  .btn {
    font-size: 1.2rem;
  }
  .dice {
    height: 7rem;
  }
}

/**************************/
/* BELOW 608px (Phones) */
/**************************/

@media (max-width: 38em) {
  main {
    max-width: 50rem;
    height: 50rem;
  }
  .name {
    font-size: 1.2rem;
  }

  .current-label {
    font-size: 0.8rem;
  }
  .current-score {
    font-size: 2rem;
  }
  .score {
    font-size: 4rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  .dice {
    height: 5rem;
  }
  .player {
    padding: 7rem;
  }
  /* .current {
    position: absolute;
    top: 50%;
    right: 25%;
  } */
}

/**************************/
/* BELOW 512px (Phone pro max) */
/**************************/

@media (max-width: 32em) {
  main {
    max-width: 40rem;
  }
  .dice {
    height: 4rem;
  }
  .player {
    padding: 5rem;
  }
  .btn {
    padding: 0.5rem 1.2rem;
  }
  .name {
    font-size: 1rem;
  }
}

/**************************/
/* BELOW 430px (Phone 12 pro) */
/**************************/
@media (max-width: 27em) {
  main {
    max-width: 35rem;
  }
  .name {
    font-size: 0.7rem;
  }
  .btn {
    font-size: 0.5rem;
    padding: 0.5rem 2rem;
  }
  .score {
    font-size: 3.2rem;
  }
  .dice {
    height: 3rem;
  }
  .current-score {
    font-size: 1.6rem;
  }
}
